## Importing pandas library

In [110]:
import pandas as pd

### Reading the dataset and creating pandas DataFrame

In [111]:
df_ASN = pd.read_csv('dataset.csv')

In [112]:
df_ASN.head()

,Country,ASN,Time Stamp,Metric A,Co Server,Bytes,Send/Time
0,de,31334,[07/Aug/2015:20:30:01 +0000],76410,302,435,0.326
1,pl,50231,[07/Aug/2015:20:30:01 +0000],126746,200,7400,0.000
2,gr,3329,[07/Aug/2015:20:30:01 +0000],126474,206,17711,0.000
3,tr,9121,[07/Aug/2015:20:30:02 +0000],76406,200,19589,0.000
4,se,3301,[08/Aug/2015:16:29:00 +0000],76406,200,17960,0.000

## Throughput = Total data sent / Total time taken to send the data

In [113]:
df_ASN['Throughput(KB/sec)'] = ((df_ASN['Bytes']/df_ASN['Send/Time'])/1024).round(4)

In [115]:
df_Co_Server = df_ASN.copy()
ASN_group = df_ASN.groupby('ASN')
Co_Server_group = df_Co_Server.groupby('Co Server')

## Average throughput for ASN

In [116]:
df_ASN['Average Throughput(KB/sec)'] = ASN_group['Throughput(KB/sec)'].transform('mean')
df_ASN

,Country,ASN,Time Stamp,Metric A,Co Server,Bytes,Send/Time,Throughput(KB/sec),Average Throughput(KB/sec)
0,de,31334,[07/Aug/2015:20:30:01 +0000],76410,302,435,0.326,1.3031,1.303100
1,pl,50231,[07/Aug/2015:20:30:01 +0000],126746,200,7400,0.000,inf,inf
2,gr,3329,[07/Aug/2015:20:30:01 +0000],126474,206,17711,0.000,inf,inf
3,tr,9121,[07/Aug/2015:20:30:02 +0000],76406,200,19589,0.000,inf,inf
4,se,3301,[08/Aug/2015:16:29:00 +0000],76406,200,17960,0.000,inf,inf
5,kz,9198,[08/Aug/2015:16:30:02 +0000],76406,200,2403,0.000,inf,inf
6,ch,6830,[08/Aug/2015:16:32:22 +0000],76406,200,16099,0.000,inf,inf
7,rs,21246,[09/Aug/2015:17:13:03 +0000],76406,200,64127,0.000,inf,inf
8,rs,21246,[09/Aug/2015:17:13:55 +0000],76406,200,64704,0.000,inf,inf
9,ro,9050,[09/Aug/2015:20:30:02 +0000],126518,206,302932,0.504,586.9683,586.968300
10,at,8447,[09/Aug/2015:20:35:13 +0000],55510,200,33494,0.006,5451.4974,inf
11,de,3320,[09/Aug/2015:20:35:25 +0000],55510,200,603522,2.892,203.7956,1487.402325
12,de,3320,[10/Aug/2015:09:10:10 +0000],55510,200,33526,0.007,4677.1763,1487.402325
13,de,3320,[10/Aug/2015:09:19:12 +0000],55510,200,796672,2.170,358.5253,1487.402325
14,at,8447,[10/Aug/2015:09:19:20 +0000],55510,200,33528,0.029,1129.0409,inf
15,at,8447,[10/Aug/2015:10:28:29 +0000],55510,200,33535,0.000,inf,inf
16,at,1901,[10/Aug/2015:10:29:12 +0000],126474,206,707542,0.470,1470.1255,1470.125500
17,de,3320,[10/Aug/2015:10:30:29 +0000],55510,200,460289,0.633,710.1121,1487.402325
18,at,12635,[10/Aug/2015:10:34:18 +0000],126700,206,120283,0.000,inf,inf
19,cz,15685,[11/Aug/2015:12:20:19 +0000],126518,206,850334,0.756,1098.4184,1098.418400

## Average throughput for Co Server

In [119]:
df_Co_Server['Average Throughput(KB/sec)'] = Co_Server_group['Throughput(KB/sec)'].transform('mean')
df_Co_Server

,Country,ASN,Time Stamp,Metric A,Co Server,Bytes,Send/Time,Throughput(KB/sec),Average Throughput(KB/sec)
0,de,31334,[07/Aug/2015:20:30:01 +0000],76410,302,435,0.326,1.3031,1.3031
1,pl,50231,[07/Aug/2015:20:30:01 +0000],126746,200,7400,0.000,inf,inf
2,gr,3329,[07/Aug/2015:20:30:01 +0000],126474,206,17711,0.000,inf,inf
3,tr,9121,[07/Aug/2015:20:30:02 +0000],76406,200,19589,0.000,inf,inf
4,se,3301,[08/Aug/2015:16:29:00 +0000],76406,200,17960,0.000,inf,inf
5,kz,9198,[08/Aug/2015:16:30:02 +0000],76406,200,2403,0.000,inf,inf
6,ch,6830,[08/Aug/2015:16:32:22 +0000],76406,200,16099,0.000,inf,inf
7,rs,21246,[09/Aug/2015:17:13:03 +0000],76406,200,64127,0.000,inf,inf
8,rs,21246,[09/Aug/2015:17:13:55 +0000],76406,200,64704,0.000,inf,inf
9,ro,9050,[09/Aug/2015:20:30:02 +0000],126518,206,302932,0.504,586.9683,inf
10,at,8447,[09/Aug/2015:20:35:13 +0000],55510,200,33494,0.006,5451.4974,inf
11,de,3320,[09/Aug/2015:20:35:25 +0000],55510,200,603522,2.892,203.7956,inf
12,de,3320,[10/Aug/2015:09:10:10 +0000],55510,200,33526,0.007,4677.1763,inf
13,de,3320,[10/Aug/2015:09:19:12 +0000],55510,200,796672,2.170,358.5253,inf
14,at,8447,[10/Aug/2015:09:19:20 +0000],55510,200,33528,0.029,1129.0409,inf
15,at,8447,[10/Aug/2015:10:28:29 +0000],55510,200,33535,0.000,inf,inf
16,at,1901,[10/Aug/2015:10:29:12 +0000],126474,206,707542,0.470,1470.1255,inf
17,de,3320,[10/Aug/2015:10:30:29 +0000],55510,200,460289,0.633,710.1121,inf
18,at,12635,[10/Aug/2015:10:34:18 +0000],126700,206,120283,0.000,inf,inf
19,cz,15685,[11/Aug/2015:12:20:19 +0000],126518,206,850334,0.756,1098.4184,inf